@import "./font";
@import "./variables";
@import "./mixins";
@import "./keyframes";
body {
  margin: 0px;
}
.titre-page {
  &_rtn {
    display: flex;
    align-items: center;
    width: 100%;
  }
  &_head {
    width: 90%;
  }
  a {
    width: 10%;
  }
}
.img-menu {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.rtn {
  top: 1rem;
  left: 2rem;
  font-size: 1.6rem;
}
.bloc-head {
  @include bloc-head;
  .bloc-head_icone {
    justify-content: flex-end;
    cursor: pointer;
  }
}
.bulle-bloc1 {
  transition: 1s ease-in-out;
  animation: slide1 1s forwards;
}
.bulle-bloc2 {
  animation: slide1 2s forwards;
}
.bulle-bloc3 {
  animation: slide1 3s forwards;
}
.bloc-global {
  width: 100%;
  border-radius: 35px 35px 0px 0px;
  position: relative;
  margin-top: -72px;
  padding-bottom: 75px;
  background-color: #f6f6f6;
}
.bloc-menu {
  width: 100%;
  margin-bottom: 45px;
}
.nom-plats {
  margin-left: 5%;
  margin-bottom: 20px;
  margin-top: 40px;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
}
.bulle-menu,
.bulle-menu1 {
  @include bulle-menu;
}
.btn-commander {
  width: 90%;
  margin-left: 5%;
  &:hover {
    transform: scale(1.1);
    transition: 2s;
  }
  &_bulle {
    @include Bulle-pink;
    @include Bulle-shadow;
  }
}
@media screen and (min-width: 610px) {
  .titre-page {
    @include Bg-heade;
  }

  .img-menu {
    height: 330px;
  }
  .bulle-bloc1 {
    @include bulle-bloc;
    animation: slide 1s forwards;
  }
  .bulle-bloc2 {
    @include bulle-bloc;
    animation: slide 2s forwards;
  }
  .bulle-bloc3 {
    @include bulle-bloc;
    animation: slide 3s forwards;
  }
  .bulle-bloc-a {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .bulle-menu {
    @include bulle-menu1;
  }
  .bulle-menu1 {
    margin-bottom: 30px;
    width: 90%;
  }
  .nom-plats {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .btn-commander_bulle {
    width: 50%;
    margin-left: 25%;
  }
}
