$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-withe: #ffff;
$cd-bars: #15dea5;
$cd-bars-inv: #0e397f;
$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;
