@import "./variables";
@import "./page-menu";
@import "./font";
@import "./mixins";
body {
  font-family: Roboto;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader 1s ease-in-out 3s forwards;
  background: linear-gradient(135deg, #e16fda 0%, #c666db 29%, #a25bdc 100%);
  opacity: 1;
}
.load {
  width: $size * 10;
  height: $size * 7.5;
  display: flex;
  margin: 20px 42px 20px 42px;
  justify-content: space-evenly;
  &__bar {
    background-color: $cd-bars;
    height: 100%;
    width: $size;
    animation: bars $anim-dur backwards infinite ease-in-out alternate;
    @for $i from 1 through 5 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
      &--#{$i}-inv {
        animation-delay: $anim-delay * $i + random(100) * 15ms;
        animation-direction: alternate-reverse;
        animation-fill-mode: forwards;
        background-color: $cd-bars-inv;
        &:hover {
          animation-play-state: paused;
        }
      }
    }
  }
}
.texte-container {
  padding: 50px;
  text-align: center;
}
header {
  font-family: Shrikhand;
  width: 100%;
  text-align: center;
}
.titre-page {
  @include Bulle-shadow;
}
h1 {
  font-size: 1.7rem;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.positionpage1- {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eaeaeaea;
  cursor: pointer;
  @include Bulle-shadow;
}
.reservation-restaurant {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 50px;
  width: 100%;
  &_titre--h2 {
    margin-top: 0px;
    padding-top: 20px;
    font-family: roboto;
    width: 80%;
    margin-left: 12%;
  }
  &_titre--h3 {
    font-size: medium;
    font-weight: 300;
    width: 90%;
    margin-left: 5%;
  }
}
.position {
  margin-right: 10px;
  cursor: pointer;
}
.btn-explorer {
  width: 100%;
  opacity: 1;
  &:hover {
    opacity: 0.9;
  }
  &_texte {
    @include Bulle-pink;
    
  }
}
.titre-section {
  margin-left: 20px;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.btn-fonctionnement {
  @include btn-fonctionement;
  &_element {
    &:hover {
      background-color: #f5edff;
    }
    &--icone {
      color: grey;
      &:hover {
        color: #000;
      }
    }
  }
  }


h5 {
  font-size: large;
  margin-top: -3px;
  margin-left: 15px;
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
}
.btn-restaurants {
  @include bulle-restaurants;
}
.footer-page {
  @include footer;
  a {
    color: #f6f6f6;
  }
}

@media screen and (max-width: 1400px) and (min-width: 760px) {
  .positionpage1- {
    position: absolute;
    top: 10px;
    width: 20%;
    right: 10px;
    border-radius: 16px;
    :hover {
      @include hover-index;
    }
  }
  h1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .btn-fonctionnement_element {
    margin-top: 20px;
  }
  .reservation-restaurant_titre--h2 {
    padding-top: 20px;
  }
  .btn-restaurants {
    width: 90%;
    border-radius: 25px;
    margin-left: 5%;
    margin-bottom: 15px;
  }
  .titre-section {
    text-align: center;
  }
}
@media screen and (min-width: 610px) {
  .titre-page {
    @include Bulle-shadow;
  }
  .btn-explorer_texte {
    width: 50%;
    margin-left: 27%;
  }
  .btn-fonctionnement {
    flex-direction: initial;
    justify-content: space-around;
    &_element {
      width: 25%;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 35px;
      &--modifier {
        text-align: start;
      }
      &--nombre {
        top: -11px;
        left: 45%;
      }
    }
  }
  .btn-restaurants_case1,
  .btn-restaurants_case2 {
    display: flex;
  }
  .btn-restaurants_case--fig {
    margin-bottom: 0px;
  }
  .footer-page {
    &_titre {
      text-align: center;
    }
    &--ul {
      display: flex;
      justify-content: center;
    }
    &--icone {
      padding-right: 5px;
    }
  }

  li {
    margin-right: 15px;
  }
}
